.contato__form{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.contato__form  fieldset{
  border: none;  
  position: relative;
}

@media screen and (max-width: 768px) {
  .contato__form{
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
}