.sobre__avatar--img{
  width: 300px; 
  height: 300px; 
  min-width: 98px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s all;
  opacity: 90%;
}

.sobre__avatar--img:hover{
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .sobre__avatar--img{
    width: 120px; 
    height: 120px; 
  }
}