.experiencia__img{
  margin: 0 20px;
  max-width:600px;
  max-height: 400px;
}

@media screen and (max-width: 768px) {
  .experiencia__img{
    width:calc(80% - 40px);
  }
}

@media screen and (max-width: 360px) {
  .experiencia__img{
    width:calc(100% - 40px);
  }
}