.formacao__container--img{ 
  background-color: #fff;
  height: 160px;  
  position: relative;
  width: 100%;
  transition: 1s all ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .formacao__container--img{ 
    border-top: 1px solid #ccc;
    height: 140px;
  }
}

@media screen and (max-width: 360px) {
  .formacao__container--img{ 
    height: 100px;
  }
}

.formacao__container--img:hover{ 
  transform: scale(1.2);
  z-index: 2;
}
